@model Foods.Models.SubCategory

@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">@Model.Name</h2>
<br />

<div class="border backgroundWhite">
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Category.Name" class="col-form-label"></label>
        </div>
        <div class="col-5">
            <input asp-for="Category.Name" disabled class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Name" class="col-form-label"></label>
        </div>
        <div class="col-5">
            <input asp-for="Name" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-5 offset-2">
            <partial name="_DetailsAndBackToListButton" model="Model.Id" />
        </div>
    </div>
</div>


