@model Foods.Models.ViewModels.MenuItemViewModel
@using Foods.Extensions

@{
    ViewData["Title"] = Model.MenuItem.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Edit MenuItem</h2>
<br />

<form method="post" enctype="multipart/form-data">
    <div class="border backgroundWhite row">
        <input type="hidden" asp-for="MenuItem.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-8">

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Name" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Name" class="form-control" />
                </div>
                <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Description" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    @Html.TextAreaFor(x => x.MenuItem.Description)
                </div>
                <span asp-validation-for="MenuItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Price" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Price" class="form-control" />
                </div>
                <span asp-validation-for="MenuItem.Price" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Image" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" multiple class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select id="CategoryId" asp-for="MenuItem.CategoryId" asp-items="Model.Categories.ToSelectListItem(Model.MenuItem.CategoryId)" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.SubCategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select id="SubCategoryId" asp-for="MenuItem.SubCategoryId" name="SubCategoryId" asp-items="@(new SelectList(string.Empty,"Id","Name"))" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Spicyness" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="MenuItem.Spicyness" asp-items="Html.GetEnumSelectList<MenuItem.ESpicy>()" class="form-control"></select>
                </div>
            </div>
        </div>

        <div class="col-3 offset-1">
            <img src="@Model.MenuItem.Image" width="100%" style="border-radius:5px;border:1px solid #bbb9b9;"/>
        </div>

        <div class="col-8">
            <div class="col-8 offset-4">
                <partial name="_EditAndBackToListButton" model="Model.MenuItem.Id"/>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @*Tiny Cloud plug-in to build textarea...etc*@
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });
    </script>


    @*To Get SubCategory Depend on category Dropdown list*@
    <script type="text/javascript">
        $(document).ready(function () {
            getSubCategory();

            $('#CategoryId').change(function () {
                getSubCategory();
            });
        });

        function getSubCategory() {
            var url = '@Url.Content("~/")' + "Admin/SubCategory/GetSubCategory";
            var ddlsource = '#CategoryId';

            // url = https://localhost:44325/Admin/SubCategory/GetSubCategory?id=2  // when sucess do this function including the data which recieved as JSON
            $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                var items = '';
                $('#SubCategoryId').empty();
                $.each(data, function (i, subcategory) {
                    items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                });

                $('#SubCategoryId').html(items);
            });
        }
    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}